AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/x-tex text/x-csrc text/js
AddType application/x-install-instructions install
Options +Indexes
AddType video/mp4             .mp4
AddType video/webm            .webm
AddType video/ogg             .ogv
AddType application/x-mpegurl .m3u8
# hls transport stream segments:
AddType video/mp2t            .ts
ErrorDocument 404 /~nsid/404.html
Header set Cache-Control "max-age=172800, public, must-revalidate"
