<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords"
	  content="siddharth narayanaswamy, scheme, scheme2c, research, phd,
		purdue, stanford, latex, programming, maths, linux, books,
		goodreads, delicious, emacs, robot, image processing,
		computer vision, robotics, machine learning, action
		recognition, natural language, artificial intelligence,
		cognitive science, computational neuroscience"/>
    <meta name="description" content="Siddharth's page"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Siddharth - $title$</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quando">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth">
    $if(extra_scripts)$ $extra_scripts$ $endif$
  </head>
  <body>
    <div>
      <nav>
	<hr class="navsep">
	<a href="/index.html">&#9679;&nbsp;Home</a>
	<a href="/research/">&#9679;&nbsp;Research</a>
	<a href="/publications.html">&#9679;&nbsp;Publications</a>
	<!-- <a href="/code.html">&#8226; Code</a> -->
	<!-- <a href="/reading.html">&#8226; Reading</a> -->
	<hr class="navsep">
      </nav>
      <div class="content">
        $body$
	<footer><p style="text-align:center">(λx. x@iffsid.com) siddharth</p></footer>
      </div>
    </div>
  </body>
</html>
