<article>
  <div class="meta"><span>$month$</span> <span>$year$</span></div>
  <a href="/publications/$paperid$.pdf"><b class="title">$title$</b></a><br/>
  $authors$<br/>
  <i class="venue">$venue$</i><br/>
  $if(other)$ $other$ $endif$<br/>
  <a href="/bibtex.html#$paperid$" style="line-height:200%;">
    <span style="text-transform: uppercase"><span style="font-size:1.2em">B</span><span style="font-size: 0.85em">ib</span><span style="font-size:1.2em">T</span><sub style="vertical-align: -0.5ex; margin-left: -0.1667em; margin-right: -0.125em; font-size: 1em">e</sub><span style="font-size:1.2em">X</span></span></a><br/>
</article><p></p>
